.imgContainer {
    align-items: center;
    z-index: -10;
}
#whi-ming{
    padding-top: 200px;
    margin: auto;
    display: block;
    transform: scale(1.5);
    z-index: -10;
}
.popUpText {
    font-size: 70px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#firstParagraph {
    font-size:44px;
    text-align: right;
    margin-left: 38%;
    margin-right: 10%;
    padding-bottom: 20%;
    width: 800px;
    
}
#secondParagraph {
    font-size:xx-large;
    margin-left: 17%;
    width: 700px; 
}
#thirdParagraph {
  z-index: 5;
  text-align: right;
  font-size:xx-large;
  padding-top: 270px;
  margin-left: 28%;
  width: 700px; 
}
.pictureFrame{
    margin-left: 60%;
    position: absolute;
    top: 183%;
    height: 800px;
    width: 500px;
    background-image: url(../../pic.jpg);
    background-attachment: fixed;
}
button{
    width: 70%;
    height: 100px;
    margin-left: 20%;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.button1 {
    font-size: 25px;
    color: azure;
    text-align: left;
    position: absolute;
    margin-left: 30px;
    width: 600px;
}
.button2 {
    font-size: 25px;
    color: azure;
    text-align: left;
    margin-left: 800px;
}
.sub1 {
    font-size: 17px;
    color: azure;
    text-align: left;
    position: absolute;
    margin-left: 30px;
    width: 400px;
}
.sub2 {
    font-size: 17px;
    color: azure;
    text-align: left;
    margin-left: 800px;
}
#logos{
    width: 100vw;
    height: 600px;
    position: relative;

}
.maskLogo {
    position: absolute;
    width: 500px;
    height: 1000px;
  
    background: #f0ffff;
    mask-repeat: no-repeat;
  }
  #pythonLogo{
    mask-image: url(https://cdn.worldvectorlogo.com/logos/python-4.svg);
    mask-size: 200px;
    margin-top: 10px;
    margin-left: 15%;
  }
  #javaLogo{
    mask-image: url(https://cdn.worldvectorlogo.com/logos/java-4.svg);
    mask-size: 150px;
    margin-left: 38%;
    margin-top: 10px;
  }
  #cLogo {
    position: absolute; 
    width: 150px;
    margin-left: 65%;
    margin-top: 20px;
  }
  #htmlLogo{
    width: 125px;
    position: absolute;
    margin-top: 300px;
    margin-left: 25%;
  }
  #javascriptLogo{
    width: 125px;
    position: absolute;
    margin-top: 300px;
    margin-left: 55%;
  }
  #cssLogo{
    width: 125px;
    position: absolute;
    margin-top: 300px;
    margin-left: 80%;
  }
  